<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FriendListServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.FriendListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FriendListServlet</servlet-name>
        <url-pattern>/friendlist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.UserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/userinfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendMessageServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.SendMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMessageServlet</servlet-name>
        <url-pattern>/sendmessage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MessageListServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.MessageListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageListServlet</servlet-name>
        <url-pattern>/messagelist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RealUploadServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.RealUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RealUploadServlet</servlet-name>
        <url-pattern>/realupload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayImageServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.DisplayImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayImageServlet</servlet-name>
        <url-pattern>/displayimage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContentListServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.ContentListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContentListServlet</servlet-name>
        <url-pattern>/contents</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommentAddServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.CommentAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentAddServlet</servlet-name>
        <url-pattern>/insertcomment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommentListServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.CommentListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentListServlet</servlet-name>
        <url-pattern>/comments</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FacebookSignInServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.FacebookSignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacebookSignInServlet</servlet-name>
        <url-pattern>/facebooksignin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FacebookSignUpServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.FacebookSignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacebookSignUpServlet</servlet-name>
        <url-pattern>/facebooksignup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GroupAddServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.GroupAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupAddServlet</servlet-name>
        <url-pattern>/groupadd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GroupInfoServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.GroupInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupInfoServlet</servlet-name>
        <url-pattern>/groupinfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GroupSearchServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.GroupSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupSearchServlet</servlet-name>
        <url-pattern>/groupsearch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GroupUserAddServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.GroupUserAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupUserAddServlet</servlet-name>
        <url-pattern>/groupuseradd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GroupUserRemoveServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.GroupUserRemoveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupUserRemoveServlet</servlet-name>
        <url-pattern>/groupuserremove</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyGroupListServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.MyGroupListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyGroupListServlet</servlet-name>
        <url-pattern>/mygrouplist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendGroupMessageServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.SendGroupMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendGroupMessageServlet</servlet-name>
        <url-pattern>/sendgroupmessage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.LOgOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.begentgroup.testappengine.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>